:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




/* TODO:  BAD CODE!!!! remove */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flexer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border: 3px solid red;
  min-width: 400px;
  min-height: 300px;
  align-items: center;
}

.flexer>div {
  margin: 4rem;

}